*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: sans-serif;
}

.hero {
  display: flex;
  width: 100%;
  background: #23424a;
  padding: 100px 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 60%;
  margin-left: 10%;
}

.container h1 {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
    font-weight: 900;
    line-height: 110%;
    font-size: 48px;
    color: #FFFFFF;
}

.container p {
    font-family: "Roboto";
    font-weight: 400;
    line-height: 150%;
    font-size: 21px;
    color: #FFFFFF;
}

.container button {
    font-family: "Roboto";
    font-weight: 700;
    line-height: 150%;
    font-size: 21px;
    letter-spacing: 5%;
    color: #072A2D;
    background-color: #38CFD9;
    border: none;
    border-radius: 30px;
    width: 40%;
    padding: 16px 48px;
    margin-top: 40px;
    text-transform: uppercase;
    min-width: 150px;
}

.row1 {
  display:flex;
  flex-direction: row;
  padding: 100px;
  gap: 50px;
}

.col {
  width: 100%;
  text-align: center;
}

.col h2 {
  font-family: "Roboto";
  font-size: 2.25rem;
  font-weight: 700;
}

.row1 .col h2 {
  color: #87629a;
}

.col p {
  font-family: "Roboto";
  font-size: 1.3125rem;
  font-weight: 300;
}

.row2 {
  display:flex;
  flex-direction: row;
  padding: 100px;
  gap: 50px;
  background-color: #136c72;
  color: #FFFFFF;
}